<div class="wrapper" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="content">
    <h3>Profile</h3>
    <p>{{user.firstName}}</p>
    <p>{{user.email}}</p>
    <p>{{user.firstName}}</p>
    <p>{{user.studentID}}</p>


    <div *ngIf="option == '' || option == 'hired'" class="panel panel-custom form-accordion" role="group">
      <div class=" panel-heading">
        <button class="toogle-button" *ngIf="option != 'hired'" (click)="optionToggle('hired')">
          <h4 class="pull-left">Sunt angajat</h4>
          <span class="arrow-down pull-right">  </span>
        </button>
        <button class="toogle-button" *ngIf="option == 'hired'" (click)="optionToggle('')">
          <div class="pull-left">
            <h4> Sunt angajat </h4>
            <p class="back"> < Inapoi la lista de optiuni </p>

          </div>
          <span class="arrow-up pull-right">  </span>
        </button>
      </div>

      <div *ngIf="option == 'hired'" class="panel-body ">
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfCompany"
               placeholder="Nume"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfCompanyAddress"
               placeholder="Adresa"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfContactPerson"
               placeholder="Nume persoana de contact"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfContactPersonEmail"
               placeholder="Email persoana de contact"
               autofocus/>

        <button class="btn btn-custom" (click)="saveProfile()"> Trimite</button>

      </div>

    </div>


    <div *ngIf="option == ''  || option == 'self'" class="panel panel-custom form-accordion" role="group">
      <div class=" panel-heading">
        <button class="toogle-button " *ngIf="option != 'self'" (click)="optionToggle('self')">
          <h4 class="pull-left">Solicit loc de pratica propus de mine (din domeniul IT&C)</h4>
          <span class="arrow-down pull-right">  </span>
        </button>
        <button class="toogle-button" *ngIf="option == 'self'" (click)="optionToggle('')">
          <div class="pull-left">
            <h4> Solicit loc de pratica propus de mine (din domeniul IT&C) </h4>
            <p class="back"> < Inapoi la lista de optiuni </p>
          </div>

          <span class="arrow-up pull-right">  </span>
        </button>
      </div>

      <div *ngIf="option == 'self'" class="panel-body ">
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfCompany"
               placeholder="Nume"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfCompanyAddress"
               placeholder="Adresa"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfContactPerson"
               placeholder="Nume persoana de contact"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfContactPersonEmail"
               placeholder="Email persoana de contact"
               autofocus/>

        <button class="btn btn-custom" (click)="saveProfile()"> Trimite</button>

      </div>

    </div>


    <div *ngIf="option == ''  || option == 'other'" class="panel panel-custom form-accordion" role="group">
      <div class=" panel-heading ">
        <button class="toogle-button" *ngIf="option != 'other'" (click)="optionToggle('other')">
          <h4 class="pull-left">Alte situatii (Erasmus, Practica in cadrul facultatii, Proiecte POSDRU, Liga AC
            LABS)</h4>
          <span class="arrow-down pull-right">  </span>
        </button>
        <button class="toogle-button" *ngIf="option == 'other'" (click)="optionToggle('')">

          <div class="pull-left">
            <h4> Alte situatii (Erasmus, Practica in cadrul facultatii, Proiecte POSDRU, Liga AC LABS) </h4>
            <p class="back"> < Inapoi la lista de optiuni </p>
          </div>

          <span class="arrow-up pull-right">  </span>
        </button>
      </div>

      <div *ngIf="option == 'other'" class="panel-body ">
        <input type="text"
               class="form-control"
               [(ngModel)]="model.otherCompany"
               placeholder="Nume"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.otherCompanyAddress"
               placeholder="Adresa"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.otherContactPerson"
               placeholder="Nume persoana de contact"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.otherContactPersonEmail"
               placeholder="Email persoana de contact"
               autofocus/>

        <button class="btn btn-custom" (click)="saveProfile()"> Trimite</button>

      </div>

    </div>


    <div *ngIf="option == ''  || option == 'company'" class="panel panel-custom form-accordion" role="group">
      <div class=" panel-heading">
        <button class="toogle-button " *ngIf="option != 'company'" (click)="optionToggle('company')">
          <h4 class="pull-left">Aplic la una dintre companiile partenere</h4>
          <span class="arrow-down pull-right">  </span>
        </button>
        <button class="toogle-button " *ngIf="option == 'company'" (click)="optionToggle('')">
          <div class="pull-left">
            <h4> Aplic la una dintre companiile partenere </h4>
            <p class="back"> < Inapoi la lista de optiuni </p>
          </div>
          <span class="arrow-up pull-right">  </span>
        </button>
      </div>

      <div *ngIf="option == 'company'" class="panel-body ">

        <div *ngFor="#company of companies">
          <div>{{company.name}}</div>
        </div>


      </div>

    </div>


  </div>
</div>
