<div class="wrapper profile-header">
  <div class="content">
    <h3>Profile</h3>
    <br/>

    <div *ngIf="!editPersonalInformation">
      <p>Prenume: {{user.firstName}}</p>
      <p>Nume: {{user.lastName}}</p>
      <p>Mail: {{user.email}}</p>
      <p>Nr. Matricol: {{user.studentID}}</p>

      <div class="row">
        <div class="col-xs-4 pull-left">
          <button class="button button-white" (click)="startEditPersonalInformation()">
            Editeaza
          </button>
        </div>
        <div class="col-xs-4 pull-right">
          <button class="button button-white" (click)="logout()">
            Delogare
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="editPersonalInformation">
      <input type="text"
             class="form-control"
             [(ngModel)]="newUser.firstName"
      />
      <input type="text"
             class="form-control"
             [(ngModel)]="newUser.lastName"
             placeholder="Nume"
             autofocus/>
      <input type="text"
             class="form-control"
             [(ngModel)]="newUser.email"
             placeholder="Email"
             autofocus/>
      <input type="text"
             class="form-control"
             [(ngModel)]="newUser.studentID"
             placeholder="Nr. Matricol"
             autofocus/>

      <div class="row">
        <div class="col-xs-4 pull-left">
          <button class="button button-white" (click)="cancelEditPersonalInformation()">
            Renunta
          </button>
        </div>
        <div class="col-xs-4 pull-right">
          <button class="button button-white" (click)="savePersonalInformation()">
            Trimite
          </button>
        </div>
      </div>

    </div>


  </div>
</div>


<div class="wrapper">
  <div class="content">

    <div *ngIf="option == ''" class="menu-profile">
      <button class="toogle-button" *ngIf="option != 'hired'" (click)="optionToggle('hired')">
        <h4 class="pull-left">Sunt angajat</h4>
        <span class="arrow-down pull-right">  </span>
      </button>

      <button class="toogle-button " *ngIf="option != 'self'" (click)="optionToggle('self')">
        <h4 class="pull-left">Solicit loc de pratica propus de mine (din domeniul IT&C)</h4>
        <span class="arrow-down pull-right">  </span>
      </button>

      <button class="toogle-button" *ngIf="option != 'other'" (click)="optionToggle('other')">
        <h4 class="pull-left">Alte situatii (Erasmus, Practica in cadrul facultatii, Proiecte POSDRU, Liga AC
          LABS)</h4>
        <span class="arrow-down pull-right">  </span>
      </button>

      <button class="toogle-button " *ngIf="option != 'company'" (click)="optionToggle('company')">
        <h4 class="pull-left">Aplic la una dintre companiile partenere</h4>
        <span class="arrow-down pull-right">  </span>
      </button>

    </div>


    <div *ngIf="option == 'hired'" class="panel panel-custom form-accordion" role="group">
      <div class=" panel-heading">

        <button class="toogle-button" *ngIf="option == 'hired'" (click)="optionToggle('')">
          <div class="pull-left">
            <h4> Sunt angajat </h4>
            <p class="back"> < Inapoi la lista de optiuni </p>

          </div>
          <span class="arrow-up pull-right">  </span>
        </button>
      </div>

      <div class="panel-body ">
        <div class="row container">
          <p class="pull-left">{{errorMessage}}</p>
        </div>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.hiredCompany"
               placeholder="Nume companie"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.hiredCompanyAddress"
               placeholder="Adresa companie"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.hiredContactPerson"
               placeholder="Nume persoana de contact"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.hiredContactPersonEmail"
               placeholder="Email persoana de contact"
               autofocus/>

        <button class="btn btn-custom" (click)="saveProfile()"> Trimite</button>

      </div>

    </div>


    <div *ngIf="option == 'self'" class="panel panel-custom form-accordion" role="group">
      <div class=" panel-heading">

        <button class="toogle-button" *ngIf="option == 'self'" (click)="optionToggle('')">
          <div class="pull-left">
            <h4> Solicit loc de pratica propus de mine (din domeniul IT&C) </h4>
            <p class="back"> < Inapoi la lista de optiuni </p>
          </div>

          <span class="arrow-up pull-right">  </span>
        </button>
      </div>

      <div class="panel-body ">
        <div class="row container">
          <p class="pull-left">{{errorMessage}}</p>
        </div>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfCompany"
               placeholder="Nume companie"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfCompanyAddress"
               placeholder="Adresa companie"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfContactPerson"
               placeholder="Nume persoana de contact"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfContactPersonPosition"
               placeholder="Functie persoana de contact"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.selfContactPersonEmail"
               placeholder="Email persoana de contact"
               autofocus/>

        <button class="btn btn-custom" (click)="saveProfile()"> Trimite</button>

      </div>

    </div>


    <div *ngIf="option == 'other'" class="panel panel-custom form-accordion" role="group">
      <div class=" panel-heading ">

        <button class="toogle-button" *ngIf="option == 'other'" (click)="optionToggle('')">

          <div class="pull-left">
            <h4> Alte situatii (Erasmus, Practica in cadrul facultatii, Proiecte POSDRU, Liga AC LABS) </h4>
            <p class="back"> < Inapoi la lista de optiuni </p>
          </div>

          <span class="arrow-up pull-right">  </span>
        </button>
      </div>

      <div class="panel-body ">
        <div class="row container">
          <p class="pull-left">{{errorMessage}}</p>
        </div>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.otherSituation"
               placeholder="Situatie"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.otherContactPerson"
               placeholder="Nume persoana de contact"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.otherContactPersonPosition"
               placeholder="Functie persoana de contact"
               autofocus/>
        <input type="text"
               class="form-control"
               [(ngModel)]="model.otherContactPersonEmail"
               placeholder="Email persoana de contact"
               autofocus/>

        <button class="btn btn-custom" (click)="saveProfile()"> Trimite</button>

      </div>

    </div>


    <div *ngIf="option == 'company'" class="panel panel-custom form-accordion" role="group">
      <div class=" panel-heading">

        <button class="toogle-button " *ngIf="option == 'company'" (click)="optionToggle('')">
          <div class="pull-left">
            <h4> Aplic la una dintre companiile partenere </h4>
            <p class="back"> < Inapoi la lista de optiuni </p>
          </div>
          <span class="arrow-up pull-right">  </span>
        </button>
      </div>

      <div class="panel-body ">
        <div class="row container">
          <p class="pull-left">{{errorMessage}}</p>
        </div>
        <div class="row">
          <div *ngFor="#company of companies">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="button button-primary " [ngClass]="{active:checkCompanies.indexOf(company._id) > -1}"
                   (click)="toggleCompany(company._id)">{{company.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="cv">
          <p>Selecteaza CV</p>
          <input type="file" class="btn btn-default" (change)="fileChangeEvent($event)" placeholder="Upload file..."/>

        </div>


        <button class="btn btn-custom" (click)="saveProfile()"> Trimite</button>

      </div>


    </div>
  </div>
</div>
