@import url('../../style/var');


.profile-header{
  background: @primary;
  color: @white;
  margin-bottom: @margin-large;

  p{
    color: @white;;
  }
}

.panel-custom {
  border-color: @primary;
  border-radius: 0px;

  > .panel-heading {
    color: @white;
    background-color: @primary;
    border-color: @primary;
    border-radius: 0px;
  }

  > .panel-body {
    width: 100%;
    border-radius: 0px;

    .cv {
      width: 100%;
      margin-top: @margin-medium;
      margin-bottom: @margin-large;

      input {
        width: 100%;
      }
    }


  }

}

.back {
  color: @secondary;
}



  .arrow-up, .arrow-down {
    margin-top: @margin-small;
  }

  .toogle-button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;

  }

  .form-control {
    margin: @margin-small 0px;
  }

  .btn-custom {
    background: @primary !important;
    color: @white;
  }

  .button {
    margin: @margin-small 0px;
    width: 100% ;
  }

  .active {
    background: @primary;
    border: 1px solid @primary;
    color: @white;
  }

.menu-profile {
  .toogle-button{
    border: 1px solid @primary;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.2s ease-in;


    &:hover {
      background: @primary;
      border: 1px solid @primary;
      color: @white;
    }

  }
}
