@import url('../../styles/var');


.panel-custom {
  border-color: @primary;
  border-radius: 0px;

  > .panel-heading {
    color: @white;
    background-color: @primary;
    border-color: @primary;
    border-radius: 0px;
  }

  > .panel-body {
    width: 100%;
    border-radius: 0px;
  }

}

.back {
  color: @secondary;
}

.form-accordion {
  width: 100%;

  .arrow-up, .arrow-down {
    margin-top: @margin-small;
  }

  .toogle-button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;

  }

  .form-control {
    margin: @margin-small 0px;
  }

  .btn-custom {
    background: @primary !important;
    color: @white;
  }



}
