<div class="wrapper banner">
  <div class="content">
    <p> Cauți un stagiu de practică? Universitatea Politehnica Timișoara, în colaborare cu Liga AC, au găsit pentru tine
      cele mai bune oferte de practică.</p>
    <p> E simplu! Citește propunerile firmelor colaboratoare și aplică la locul de practică care ți-a stârnit
      interesul. </p>
    <!--<count-down units="Days | Hours | Minutes | Seconds " end="April 11, 2016"></count-down>-->

    <a class="button button-white" href="/register">Înscrie-te</a>
  </div>

</div>

<div class="wrapper about-project">
  <div class="content">
    <h1> Despre proiect </h1>
    <div class="row">
      <div class="col-sm-4 col-xs-12 col">
        <span class="icon first"></span>

        <p class="about-col">Conform noului plan de învăţământ, studenţii anului II Informatică, respectiv studenţii
          anului III specializărilor inginereşti, începând din această vară au de efectuat toată practica în ultima
          vacanţă studenţească, ceea ce înseamnă 180 ore (6 săpt. x 5 zile x 6 ore) pentru studenţii de la Informatică,
          respectiv 240 ore pentru studenţii specializărilor inginereşti.
        </p>
      </div>
      <div class="col-sm-4 col-xs-12 col">
        <span class="icon second"></span>

        <p class="about-col">Acest proiect vine în întâmpinarea
          nevoii de practică a
          studenților, oferindu-le șansa de a alege, dintr-o gamă variată de oferte, compania în cadrul căreia vor să
          facă
          practică.
        </p>
      </div>
      <div class="col-sm-4 col-xs-12 col">
        <span class="icon last"></span>
        <p class="about-col">Proiectul se axează pe dezvoltarea
          profesională a studenților şi
          familiarizarea cu activitățile companiilor partenere. Astfel, studenții au posibilitatea de a-și găsi un loc
          de practică pe timpul verii, ce se poate finaliza cu un internship sau cu o ofertă de angajare.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="wrapper how-it-works">
  <div class="content row">
    <h1> Cum funcționează </h1>

    <div class="element element-1 col-md-2 col-sm-4 col-xs-6">
      <span class="icon icon-1"></span>
      <p>Participă la proiect apăsând butonul Înscrie-te</p>
      <div class=" line "></div>

    </div>

    <div class="element element-2 col-md-2 col-sm-4 col-xs-6 ">
      <span class="icon icon-2"></span>
      <p>Completează formularul cu datele personale</p>
      <div class=" line "></div>

    </div>

    <div class="element element-3 col-md-2 col-sm-4 col-xs-6 xs-break">
      <span class="icon icon-3"></span>
      <p>Aplică pentru locul de practică dorit</p>
      <div class=" line "></div>

    </div>

    <div class="element element-4 col-md-2 col-sm-4 col-xs-6 sm-break">
      <span class="icon icon-4"></span>
      <p>Așteaptă mailul de confirmare a înscrierii</p>
      <div class=" line "></div>

    </div>

    <div class="element element-5 col-md-2 col-sm-4 col-xs-6 xs-break">
      <span class="icon icon-5"></span>
      <p>Intră în contul tău de pe site</p>
      <div class=" line "></div>

    </div>

    <div class="element element-6 col-md-2 col-sm-4 col-xs-6">
      <span class="icon icon-6"></span>
      <p>În caz de necesitate actualizează datele de înscriere</p>
    </div>

  </div>
</div>

<div class="wrapper company">
  <div class="content">
    <h1> Companii partenere </h1>

    <a id={{company._id}} *ngFor="#company of companies" class="button button-white company-box"
       (click)="openCompanyModal(company)">
      <h1>{{company.name}}</h1>
      <p> Număr de grupuri: {{company.summerPracticePrograms.length}} </p>
      <p> Număr total de locuri de practică oferite: {{company.totalPracticeStudents}} </p>
      <p> Studenți înscriși: {{company.totalStudents}} </p>
    </a>
  </div>
</div>


<div class="wrapper liga-ac">
  <div class="content">
    <h1> Despre Liga AC </h1>
    <p> Liga Studenților din Facultatea de Automatică și Calculatoare (Liga AC) este o organizație studențească ce
      reprezintă interesele studenților din Facultatea de Automatică și Calculatoare, și îi susține în viața socială și
      culturală... </p>
    <a href="https://ligaac.ro/node/25" target="_blank"> <span class="read-more"> </span>
      <span> Citește mai mult </span> </a>
  </div>
</div>

<div class="wrapper contact">
  <div class="content">
    <h1> Contact </h1>

    <span><p> Bulevardul Vasile Pârvan, nr. 2, sala A021, Timișoara, Timiș, Romania </p></span>
    <span><p> Cod poștal: 300223 </p></span>
    <span><p> Mail: contact@ligaac.ro </p></span>
    <span><p> Telefon: 0256 403 286 </p></span>

  </div>
</div>


<div class="wrapper companyModal" [ngClass]="companyModal">
  <div class="content top">

    <button class="close" (click)="closeCompanyModal()"></button>

    <h1> {{companyModalData.name}} </h1>
    <p><strong>Descriere:</strong> {{companyModalData.description}} </p>
    <p><strong>Pagina web:</strong> {{companyModalData.web}} </p>

  </div>

  <div class="summer-practice">
    <div class="content">
      <div class="col-xs-12 col-sm-6" *ngFor="#summerPractice of companyModalData.summerPracticePrograms">
        <div class="border">
          <h1> {{summerPractice.name}} </h1>
          <div class="col-xs-6 bold"><p> Nume persoană de contact: </p></div>
          <div class="col-xs-6"><p> {{summerPractice.contactPerson}} </p></div>
          <div class="col-xs-6 bold"><p> Funcție persoană de contact: </p></div>
          <div class="col-xs-6"><p> {{summerPractice.contactPersonTitle}} </p></div>
          <div class="col-xs-6 bold"><p> Mail persoană de contact: </p></div>
          <div class="col-xs-6"><p> {{summerPractice.contactPersonEmail}} </p></div>
          <div class="col-xs-6 bold"><p> Număr de locuri de practică oferite: </p></div>
          <div class="col-xs-6"><p> {{summerPractice.numberOfStudents}} </p></div>
          <div class="col-xs-6 bold"><p> Perioada propusă: </p></div>
          <div class="col-xs-6"><p> {{summerPractice.period}} </p></div>
          <div class="col-xs-12 bold"><p> Descriere a sarcinilor de la locul de practică: </p></div>
          <div class="col-xs-12"><p> {{summerPractice.description}} </p></div>
          <div class="col-xs-12 bold"><p> Cerințe ale locului de practică: </p></div>
          <div class="col-xs-12"><p> {{summerPractice.requirements}} </p></div>

        </div>
      </div>
    </div>
  </div>
</div>

