@import "../../style/var";
.countdown{
  width: 100%;
  max-width: 450px;
  opacity: 1;
  font-weight: 400;
  font-size: 20px;
  color: @white;
}

.banner {
  background: url('../../public/img/bg_ppt_1920.png') repeat-x fixed top center;
  color: @white;
  padding-top: 2 * @margin-large;

  h1 {
    color: @white;
  }

  p {
    width: 100%;
    max-width: 450px;
    opacity: 1;
    font-weight: 400;
    font-size: 20px;
    color: @white;

    @media (max-width: @bootstrapSmCutoff) {
      width: 100%;
    }
  }

  .button-white {
    font-size: 18px;
  }

}

.about-project {

  .row {
    .icon {
      position: absolute;
      margin-left: @margin-medium;
      left: 0px;
      top: 0px;
      width: 50px;
      height: 50px;

      &.first {
        background: url("../../public/img/agenda.svg") no-repeat;
        background-size: 70%;

      }
      &.second {
        background: url("../../public/img/pen.svg") no-repeat;
        background-size: 70%;

      }
      &.last {
        background: url("../../public/img/interface.svg") no-repeat;
        background-size: 70%;

      }

    }
    .about-col {
      padding-left: 50px;
      position: relative;

    }

    @media (max-width: @bootstrapSmCutoff) {
      col {
        padding-bottom: @margin-large;
      }
    }
  }
}

.how-it-works {
  overflow: hidden;
  .element {
    text-align: center;
    height: 180px;

    .line {
      border: 1px dotted @secondary;
      height: 0px;
      position: absolute;
      top: 30px;
      left: 50%;
      width: 100%;

    }

    .icon {
      width: 60px;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: @margin-medium;
      display: block;
      position: relative;
      z-index: 2;
    }

    @media (max-width: @bootstrapSmCutoff) {
      &.xs-break::before {
        content: "";
        border: 1px dotted @secondary;
        height: 0px;
        position: absolute;
        top: 30px;
        left: -50%;
        width: 100%;
      }
    }
    @media (max-width: @bootstrapMdCutoff) {
      &.sm-break::before {
        content: "";
        border: 1px dotted @secondary;
        height: 0px;
        position: absolute;
        top: 30px;
        left: -50%;
        width: 100%;
      }
    }

    .icon-1 {
      background: url("../../public/img/how-it-works/interface.svg") no-repeat;
      background-size: 100%;
      background-color: #fff;
    }
    .icon-2 {
      background: url("../../public/img/how-it-works/computer.svg") no-repeat;
      background-size: 100%;
      background-color: #fff;

    }
    .icon-3 {
      background: url("../../public/img/how-it-works/note.svg") no-repeat;
      background-size: 100%;
      background-color: #fff;

    }
    .icon-4 {
      background: url("../../public/img/how-it-works/interface-1.svg") no-repeat;
      background-size: 100%;
      background-color: #fff;

    }
    .icon-5 {
      background: url("../../public/img/how-it-works/hand.svg") no-repeat;
      background-size: 100%;
      background-color: #fff;

    }
    .icon-6 {
      background: url("../../public/img/how-it-works/business.svg") no-repeat;
      background-size: 100%;
      background-color: #fff;

    }

  }
}

.company {
  background-color: @primary;
  a {
    display: block;
    margin-right: @margin-medium;

    h1 {
      font-size: 25px;

      &::after {
        content: "";
        height: 5px;
        width: 70px;
        background: @secondary;
        position: absolute;
        bottom: -10px;
        left: 0px;
      }
    }

  }
  h1 {
    color: @white;

  }

  p {
    color: @white;
    opacity: 0.8;
  }


  .button-white {
    width: 23% !important;
    margin: @margin-small 1%;
    padding: @margin-small;
    h1{
      font-size: 18px;
      margin: 0px;
      margin-bottom: @margin-medium;
      padding: 0px;
    }
  }

  @media (max-width: @bootstrapSmCutoff) {
    .button-white {
      width: 46% !important;
      margin: @margin-small 2%;
      padding: @margin-small;
      h1{
        font-size: 18px;
        margin: 0px;
        margin-bottom: @margin-medium;
        padding: 0px;
      }
    }
  }

  @media (max-width: @bootstrapMdCutoff) {
    .button-white {
      width: 31% !important;
      margin: @margin-small 1%;
      padding: @margin-small;
      h1{
        font-size: 18px;
        margin: 0px;
        margin-bottom: @margin-medium;
        padding: 0px;
      }
    }
  }

}

.liga-ac {
  background: url("../../public/img/technology.svg") no-repeat right bottom;
  background-size: 35%;
  padding-bottom: 150px;
  border-bottom: 20px solid @secondary;

  p {
    max-width: 800px;
  }

  a {
    color: @primary;
    transition: color 0.2s ease-in;

    .read-more {
      width: 15px;
      height: 15px;
      display: inline-block;
      background: url("../../public/img/web.svg") no-repeat;
      background-size: contain;
      margin-right: @margin-small;
      margin-top: 2px;
      float: left;
    }
  }
  a:hover {
    color: @secondary;

  }

}

.contact {
  background: url("../../public/img/letter.svg") no-repeat right top;
  background-color: @primary;
  background-size: 35%;

  h1 {
    color: @white;
  }

  p {
    color: @white;
    opacity: 0.8;
  }

}

.companyModal {
  background: @primary !important;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
  display: block;
  overflow-y: scroll;

  .summer-practice {
    background: @white;
    width: 100%;

    .content {
      position: static;
      background: none;
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;

      .bold p {
        font-weight: 500;
        white-space: nowrap;
      }

      h1 {
        font-size: 25px;
        &::after{
          bottom: -10px;
        }
      }

      .border {
        margin: @margin-medium;
        padding: @margin-medium;
      }

    }

  }
  .top {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    h1 {
      color: @white;
    }

    p {
      color: @white;
    }

    .close {
      z-index: 10;
      position: fixed;
      right: 30px;
      top: 30px;
      width: 50px;
      height: 50px;
      background: url("../../public/img/cross.svg") no-repeat;
      background-size: 100%;
      opacity: 1;
      display: block;
      transform: rotate(0deg);
      transition: transform 0.3s ease-in;

      &:hover {
        transform: rotate(180deg);
      }

    }
  }

}

.company-box{
  height:250px;
}
